<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <script src="https://kit.fontawesome.com/c4135a2ac0.js" crossorigin="anonymous"></script>
    <script src="lessons.js" type="module"></script>
    <script src="project.js" type="module"></script>
    <link rel="stylesheet" href="stylesheet.css">
    <title>Document</title> 
</head>
<body>
    <div id="app">
        <div class="cart" v-if="cart">
            <h2>Cart</h2>
            <ul>
                <li v-for="(item, index) in shoppingCart" :key="index">
                    <div>
                        <i :class="item.icon"></i>
                    </div>
                    <div>
                        <h3>{{ item.title }}</h3>
                        <h4>{{ item.price }} </h4>
                    </div>
                    <div>
                        <i class="fa-solid fa-xmark" style="color: #ffffff;" @click="removeFromCart(index)"></i>
                    </div>
                </li>
            </ul>
            <div>
                <input type="text" placeholder="Name" v-model="customerName" @input="validateInput">
                <input type="text" placeholder="Phone number" v-model="customerPhone" @input="validateInput">
            </div>
            <div class="checkClose">
                <button @click="checkout" :disabled="!isCheckoutEnabled">Checkout</button>
                <button @click="closeCart">Close</button>
            </div>
        </div>

    <div v-if="mainPage">
        <div class="navigation">
            <div class="icons">
                <a class="cart-link" @click="toggleCart" :class="{ 'disabled': shoppingCart.length === 0 }">
                    <i class="fa-solid fa-cart-shopping fa-sm" style="color: #ffffff;"></i>
                    <span v-if="basketCount > 0" class="basket-count">{{ basketCount }}</span>
                </a>
            </div>
            <input class="searchBar" type="text" placeholder="Search..">
        </div>
        <div class="title">
            <h1 class="firstTitle">After School Activities</h1>
        </div>
        <div class="sorting-buttons">
            <button @click="changeSorting('title')">Sort by Subject</button>
            <button @click="changeSorting('location')">Sort by Location</button>
            <button @click="changeSorting('price')">Sort by Price</button>
            <button @click="changeSorting('stock')">Sort by Space (Availability)</button>
        </div>
    </div>

    <script>
   const app = new Vue({
            el: '#app',
            data: {
                lessons: [],
                sortBy: null,
                shoppingCart: [],
                cart: false,
                mainPage: true,
                customerName: '',
                customerPhone: '',
                isCheckoutEnabled: false,
            },
            computed: {
                basketCount() {
                    return this.shoppingCart.length;
                },
            },
            methods: {
                toggleCart() {
                    this.cart = !this.cart;
                },
                addToBasket(lesson) {
                    if (lesson.stock > 0) {
                        lesson.stock--;
                        this.shoppingCart.push(lesson);
                    }
                },
                removeFromCart(index) {
                    const item = this.shoppingCart[index];
                    this.shoppingCart.splice(index, 1);
                    item.stock++;
                },
                changeSorting(sortBy) {
                    this.sortBy = sortBy;
                    this.sortLessons();
                },
                sortLessons() {
                    if (this.sortBy) {
                        this.lessons.sort((a, b) => {
                            switch (this.sortBy) {
                                case 'title':
                                    return a.title.localeCompare(b.title);
                                case 'location':
                                    return a.location.localeCompare(b.location);
                                case 'price':
                                    return parseFloat(a.price.substr(1)) - parseFloat(b.price.substr(1));
                                case 'stock':
                                    return parseInt(a.stock) - parseInt(b.stock);
                                default:
                                    return 0;
                            }
                        });
                    }
                },
                getLessonIcon(title) {
                    const iconMap = {
                        'Tennis': 'fa-solid fa-table-tennis-paddle-ball',
                        'Art': 'fa-solid fa-brush',
                    };
                    return iconMap[title] || 'fa-solid fa-question';
                },
               
                checkout() {
                    if (this.isCheckoutEnabled) {
                        alert(`Order submitted!\nName: ${this.customerName}\nPhone: ${this.customerPhone}`);
                    } else {
                        alert('Please provide a valid Name and Phone number before checking out.');
                    }
                },
                closeCart() {
                    this.cart = false;
                },
            },
            mounted() {
                import('./lessons.js')
                    .then(module => {
                        this.lessons = module.lessons;
                        this.sortLessons();
                    })
                    .catch(error => {
                        console.error('Error loading lessons:', error);
                    });
            },
        });
    </script>
</body>
